#info {
  position: absolute;
  bottom: 10%;
  right: 10%;
  display: none;
}

#progress {
  height: 2vh;
  width: 10vw;
  appearance: none;
}

#progress::-webkit-progress-bar {
  background: #c2c2c22f;
  border-radius: 3px;
  box-shadow: inset 3px 3px 10px #66666669;
}

#progress::-webkit-progress-value {
  background-color: #084400a1;
  border-radius: 3px;
}

#keys {
  margin-left: 15%;
  margin-top: 10%;
  height: 1.5vw;
  display: flex;
}

#keys img {
  margin-right: 15%;
  opacity: 30%;
}
