body{
    background-color: #1f1f1f;
    margin: 0 auto;
    margin: 0;
    padding: 0;
}

.tutorial{
    margin:30px;
    margin-top:10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#contentContainer{
    display: grid;
    grid-template-columns: repeat(5,0.5fr);
    grid-gap: 0.1rem;
    padding: 0.1rem;

    position: absolute;
    margin-left: 120px;
    left : 350px;
    bottom: 250px;
    width: 1174px; /*window크기*/
    height: 714px; /*window크기*/
    
}

#keyArrowUp {
    position:relative;
    bottom : 120px;
    left : 718px;
    opacity: 0.4;
    transition: opacity 0.3s;
}
        
#keyArrowUp.pressed {
    opacity: 0.88;
}

#keyArrowLeft {
    position:relative;        
    top:350px;
    left : 100px;
    opacity: 0.4;
    transition: opacity 0.3s;
} 

#keyArrowLeft.pressed {
    opacity: 0.88;
}

#keyArrowRight {
    position:relative;  
    top:350px;
    opacity: 0.4;
    right:100px;
    transition: opacity 0.3s;
} 

#keyArrowRight.pressed {
    opacity: 0.88;
}

#keyArrowDown {
    position:relative;            
    top:350px;
    opacity: 0;
} 

#keyControl {
    position:relative;            
    top:350px;
    opacity: 0.4;
    transition: opacity 0.3s;
} 

#keyControl.pressed {
    opacity: 0.88;
}

#keySpace {
    position:relative;            
    top:350px;
    opacity: 0.4;
    transition: opacity 0.3s;
} 

#keySpace.pressed {
    opacity: 0.95;
}
      
.pressed {
    transform: scale(1.15);
}
